<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dpfp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dpfp_threaded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>fxload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libusb 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libusb-bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libusb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>listdevs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xusb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008FBF301628B79300BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FBFBC1628B9FE00BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FBFF41628BB8B00BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FC0041628BBDB00BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FC0141628BC0300BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FC0251628BC6B00BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008FC0321628BC9400BC5BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6934EDC21ACD85D8003F9B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6934EDD01ACD88FA003F9B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
